@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{ /* start settings */
    box-sizing: border-box;
    border: none;
    margin: none;
    padding: none;
}

body{
    background-image: url(../img/home/background.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    user-select: none;
    overflow: hidden;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.hidden{
    display: none !important;
}

.options-coutntainer {
    width: 100vw;
    height: 100%;
}
.main-options {
    font-family: "Sour Gummy";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
}
.main-options h1 {
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    width: 120%;
    padding: 8%;
    background-image: url(../img/home/button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-options h1:active{
    scale: .9;
}
.about-us-option{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75vw;
}
.about-us-modal h3 {
    background-color: #cc8e35;
    text-align: center;
    display: inline;
    font-family: 'Sour Gummy';
    line-height: 2rem;
}
.tap-to-hide{
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%,0);
    font-family: 'Sour Gummy';
}
.backdrop{
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
}
.start-modal{
    background-color: #cc8e35;
    text-align: center;
    display: inline;
    font-family: 'Sour Gummy';
    line-height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    border-radius: 5px;
}

.top{
    transition: all ease-in .2s;
    width: 150% !important;
}

.character-slider {
    cursor: pointer;
    width: 24%;
    max-height: 20%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 1%;
    bottom: 10%;
}

.character-button{
    cursor: pointer;
    position: absolute;
    bottom: 1%;
    right: 6.25%;
    border: 0px;
    outline: 0px;
    color: black;
    background-image: url(../img/home/gray\ button.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 13%;
    height: 10%;
    font-family: "Sour Gummy";
    font-size: x-large;
}
.character-button:active{
    scale: .9;
}

.character-selector-left {
    width: 100%;
    height: 100%;
}
.character-selector-left img {
    width: 100%;
    height: 100%;
}
.character-selector-center {
    width: 100%;
    height: 100%;
}
.character-selector-center img {
    user-select: none;
    width: 100%;
    height: 100%;
}
.character-selector-right {
    width: 100%;
    height: 100%;
}
.character-selector-right img {
    user-select: none;
    width: 100%;
    height: 100%;
}

.map-button{
    cursor: pointer;
    position: absolute;
    bottom: 1%;
    left: 10%;
    border: 0px;
    outline: 0px;
    color: black;
    background-image: url(../img/home/gray\ button.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 13%;
    height: 10%;
    font-family: "Sour Gummy";
    font-size: x-large;
}
.map-button:active{
    scale: .9;
}

.map-slider {
    cursor: pointer;
    width: 30%;
    max-height: 20%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 1%;
    bottom: 15%;
}
.map-selector-left {
    width: 100%;
    height: 100%;
}
.map-selector-left img {
    width: 100%;
    height: 100%;
}
.map-selector-center {
    width: 100%;
    height: 100%;
}
.map-selector-center img {
    user-select: none;
    width: 100%;
    height: 100%;
}
.map-selector-right {
    width: 100%;
    height: 100%;
}
.map-selector-right img {
    user-select: none;
    width: 100%;
    height: 100%;
}

.player-name {
    color: black;
    text-shadow: 2px 2px 2px white;
    font-family: "Sour Gummy";
    font-size: xx-large;
    width: 20%;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.maps-selection-modal{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.maps{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.maps img {
    width: 100%;
    height: 100%;
}
.map-images{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.previous-btn{
    background-color: transparent;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}
.previous-btn:active {
    scale: .9;
}
.previous-btn svg {
    color: aliceblue;
}
.next-btn{
    background-color: transparent;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}
.next-btn:active {
    scale: .9;
}
.next-btn svg {
    color: aliceblue;
}


.characters-selection-modal{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.characters{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.characters img {
    width: 100%;
    height: 100%;
}
.character-images{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.map-previous-btn{
    background-color: transparent;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}
.map-previous-btn:active {
    scale: .9;
}
.map-previous-btn svg {
    color: aliceblue;
}
.map-next-btn{
    background-color: transparent;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}
.map-next-btn:active {
    scale: .9;
}
.map-next-btn svg {
    color: aliceblue;
}
.character-previous-btn{
    background-color: transparent;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}
.character-previous-btn:active {
    scale: .9;
}
.character-previous-btn svg {
    color: aliceblue;
}
.character-next-btn{
    background-color: transparent;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}
.characternext-btn:active {
    scale: .9;
}
.characternext-btn svg {
    color: aliceblue;
}

.player-name p {
    margin-top: 20%;
}


.enter-name-modal{
    width: 100%;
    height: 100%;
    z-index: 10;
    backdrop-filter: blur(10px);
}
.modal-container{
    width: 50%;
    height: 50%;
    background-color: #cc8e35;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(10px);
}
.modal-header{
    width: 100%;
    height: 25%;
    font-family: 'Sour Gummy';
    border-bottom: black 1px solid;
    text-align: center;
}
.modal-input{
    width: 85%;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0px);
    border-radius: 10px;
    border:black 1px solid;
    outline: 0px;
    font-size: x-large;
    font-family: 'Sour Gummy';
    text-align: center;
}
.modal-btn{
    width: 15%;
    height: 15%;
    background-color: #ffb142;
    color: black;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.character-container{
    position: absolute;
    bottom: -13%;
    right: -7%;
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vh;
}
.charackter{
    width: 25%;
}
.charackter-speech-container{
    text-align: center;
    font-family: 'Sour Gummy';
    font-size: x-large;
    
}
.charackter-speech{
    background-color: #cc8e35;
    text-align: center;
    display: inline;
}
.start-h1{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0px);
    background-color: #cc8e35;
    text-align: center;
    display: inline;
    font-family: 'Sour Gummy';
}

.start-options{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #cc8e35;
    width: 85%;
    height: 90%;
    border-radius: 10px;
}
.room-options{
    border-bottom: black 1px solid;
}
.join-room{
    background-color: #ffb142;
    display: inline-block;
    font-family: 'Sour Gummy';
    font-size: xx-large;
    border-top-left-radius: 10px;
}
.my-rooms{
    background-color: #ffb142;
    display: inline-block;
    font-family: 'Sour Gummy';
    font-size: xx-large;
}
.host-room{
    background-color: #ffb142;
    display: inline-block;
    font-family: 'Sour Gummy';
    font-size: xx-large;
}
.selected{
    border-bottom: #ffb142 2px solid ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.back{
    float: right;
    background-color: #ffb142;

}
.join-main-content{
    padding-top: 1rem;
    position: relative;
    height: calc(100% - 44px);
}
.servers{
    font-family: 'Sour Gummy';
    font-size: x-large;
    overflow-y: auto;
    height: calc(100% - 44px);
}
.server{
    background-color: #ffb142;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
}
.server input[type="radio"] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid #cc8e35;
    border-radius: 50%;
    appearance: none;
    background-color: #cc8e35;
    outline: none;
}
.server input[type="radio"]:not(:disabled):checked {
    border-color: #cc8e35;
    background-color: #ffb142;
    outline: #cc8e35 3px solid;
    background-clip: content-box;
    padding: 3px;
}
.join-main-content button {
    background-color: #ffb142;
    font-family: 'Sour Gummy';
    font-size: xx-large;
    border: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 10px;
}
.my-rooms-main-content{
    padding-top: 1rem;
    position: relative;
    height: calc(100% - 44px);
}
.my-servers{
    font-family: 'Sour Gummy';
    font-size: x-large;
    overflow-y: auto;
    height: calc(100%);
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loading h2 {
    background-color: #ffb142;
    text-align: center;
    font-family: 'Sour Gummy';
}
.loading svg {
    margin: auto auto;
}
.waiting-room{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.waiting-room h2 {
    background-color: #ffb142;
    text-align: center;
    font-family: 'Sour Gummy';
}
.waiting-room svg {
    margin: auto auto;
}
.host-main-content{
    width: 100%;
    height: calc(100% - 44px);
    position: relative;
}
.roomName-input-container{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%,0px);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.roomName-input-container input {
    width: 50vw;
    height: 10vh;
    background-color: #ffb142;
    border-radius: 10px;
    font-family: 'Sour Gummy';
    font-size: xx-large;
    text-align: center;
    outline: none;
}
.roomName-input-container input:focus{
    border: #ffda79 5px solid;
}
.roomName-input-container label {
    background-color: #ffb142;
    font-family: 'Sour Gummy';
    font-size: x-large;
    display: inline;
    width: fit-content;
}
.roomPass-input-container{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%,0px);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.roomPass-input-container input {
    width: 50vw;
    height: 10vh;
    background-color: #ffb142;
    border-radius: 10px;
    font-family: 'Sour Gummy';
    font-size: xx-large;
    text-align: center;
    outline: none;
}
.roomPass-input-container input:focus{
    border: #ffda79 5px solid;
}
.roomPass-input-container label {
    background-color: #ffb142;
    font-family: 'Sour Gummy';
    font-size: x-large;
    display: inline;
    width: fit-content;
}
.roomCount-input-container{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,0px);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.roomCount-label{
    background-color: #ffb142;
    font-family: 'Sour Gummy';
    font-size: x-large;
    display: inline;
    width: fit-content;
    text-wrap: nowrap;
}
.roomCount-input{
    width: 50vw;
    height: 10vh;
    background-color: #ffb142;
    border-radius: 10px;
    font-family: 'Sour Gummy';
    font-size: xx-large;
    text-align: center;
    outline: none;
}
.roomCount-input-container input:focus{
    border: #ffda79 5px solid;
}
.room-submite-btn{
    background-color: #ffb142;
    font-family: 'Sour Gummy';
    font-size: xx-large;
    border: 10px;
    position: absolute;
    bottom: 0%;
    right: 0px;
    border-radius: 10px;
}
.roomError-container{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0px);
    min-width: 50Vw;
}
.error{
    background-color: #ffb142;
    font-family: 'Sour Gummy';
    font-size: large;
    display: inline;
    width: fit-content;
    color: #b33939;

}